* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font;
    font-size: 12pt;
}

window#waybar {
    background: transparent;
    color: white;
}
tooltip {
	background: #080808;
	border-radius: 25px;
	border-width: 2px;
	border-style: solid;
	border-color: #303030;
}
#workspaces button {
    color: white;
    background: transparent;
}
#workspaces button.focused {
    color: lightgreen;
}
#workspaces button.urgent{
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 7px;
}
#custom-power {
	margin: 8px;
	min-height: 12px;
	min-width: 24px;
	color: red;
}
#custom-media {
	margin-left: 10px;
}
#tray{
	margin-right: 20px;
}
#language, #network, #pulseaudio, #battery, #backlight{
	margin-right: 40px;
}
#pulseaudio.muted{
	color:darkred;
}
#network.disconnected{
	color:red;
}
#battery.critical{
	color:red;
}
#battery.warning{
	color:orange;
}
#battery{
	color:green;
}
#network.wifi{
	color:green;
}
#network.vpn{
	color:gray;
}
#network.disconnected{
	color:red;
}
